@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.about {
  background-color: #0a2850;
  color: #fff;
  display: flex;
  overflow: hidden;
  padding: 100px 80px;
  position: relative;
  box-sizing: border-box;
  gap: 230px;
  justify-content: space-between;
}

.about__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  list-style: 52px;
  max-width: 251px;
  margin: 0;
  line-height: 56px;
  text-align: left;
  position: relative;
  z-index: 1;
}

.about__content {
  margin-left: 80px;
  position: relative;
  z-index: 1;
}

.about__paragraph {
  font-family: Noto Serif, "Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  gap: 20px;
}

.about__paragraph:last-child {
  margin-bottom: 173px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
