.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  justify-content: center;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 32px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 4px;
  height: 60px;
  border-width: 1px;
  border-style: solid;
  font-size: inherit;
  line-height: inherit;
  color: #838383;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background: #2f80ed;
  color: #fff;
  border: none;
}

.form__button:hover {
  opacity: 70%;
  transition: color 0.3s ease-in-out;
}

.form__input::placeholder {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  gap: 12px;
}
